@model HotelManagment.Models.User.UserModel

@{
    ViewBag.Title = "HostelBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body p-0">
            <p class="card-title">User Details</p>
            <!-- CARD HEADER START -->
            <div class="card_head">
                <form id="form" class="form-sample">                   
                    @{ if (!Model.IsRoomRequested)
                        {
                            <p class="card-description">
                                Personal info
                            </p>
                            @Html.HiddenFor(x => x.UserId)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                            @*<input type="text" class="form-control">*@
                                            @Html.TextBoxFor(x => x.FirstName, new { disabled = "disabled", @class = "form-control", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Last Name</label>
                                        <div class="col-sm-9">
                                            @*<input type="text" class="form-control">*@
                                            @Html.TextBoxFor(x => x.LastName, new { disabled = "disabled", @class = "form-control", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Mobile</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.Mobile, new { disabled = "disabled", @class = "form-control number", @maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" id="datepicker" placeholder="dd/mm/yyyy">*@
                                            @Html.TextBoxFor(x => x.Dob, new { disabled = "disabled", @class = "form-control datepicker" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Courses</label>
                                        <div class="col-sm-9">
                                            <select id="course" class="form-control" name="state">
                                                <option value="0">Select Course</option>
                                                @foreach (var cors in Model.AllCourses)
                                                {
                                                    <option value="@cors.Id">@cors.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Room Budget</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("budget", null, new { @class = "form-control number", @maxlength = "4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">CheckIn</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" id="datepicker" placeholder="dd/mm/yyyy">*@
                                            @Html.TextBox("checkin", null, new { @class = "form-control datepicker" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-description">
                                Guardian Address
                            </p>
                            <div class="row">
                                @Html.HiddenFor(x => x.AddressId)
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 1</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(x => x.Address1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Postcode</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control number", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 2</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(x => x.Address2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Gurdian's Mobile</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(x => x.GuradianMobile, new { @class = "form-control number" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="city" name="city">
                                                @foreach (var city in Model.Cities)
                                                {
                                                    <option value="@city.Id">@city.City1</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <select id="state" class="form-control" name="state">
                                                @foreach (var states in Model.State)
                                                {
                                                    <option value="@states.Id">@states.State1</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="country" id="country">
                                                @foreach (var cntry in Model.Countries)
                                                {
                                                    <option value="@cntry.Id">@cntry.Country1</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" id="save-btn" class="btn btn-primary mr-2">Book Room</button>
                                <button class="btn btn-light cancel">Cancel</button>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                @{
                                    if (Model.IsRoomRequested && Model.RooomAssigned == false && Model.CancelRequest == false)
                                    {
                                        <p style="padding-left:15px;">You already requested for the hostel room. Please wait for further response..</p>
                                    }else if(Model.IsRoomRequested && Model.RooomAssigned == true && Model.CancelRequest == false)
                                    {
                                        <p style="padding-left:15px;">Room has been assigned to you.</p>
                                        @*<button id="room-detail" class="btn btn-primary">Get Room Details</button>*@
                                        <a href="/RoomDetails" class="btn btn-primary">Get Room Details</a>
                                    }
                                    else if (Model.IsRoomRequested && Model.RooomAssigned == false && Model.CancelRequest == true)
                                    {
                                        <p style="padding-left:15px;">Sorry,We are able to provide you room at that time. @Model.CancelMessage</p>
                                    }
                                }
                            </div>
                                    }
                    }
                </form>
            </div>
            <!-- /CARD HEADER END -->
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //called when key is pressed in textbox
        $(".number").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });

    $("#save-btn").click(function () {
        var userid = $("#UserId").val();
        var addressid = $("#AddressId").val();
        var course = $("#course option:selected").val();
        var budget = $("#budget").val();
        var isactive = $(".isactive").is(":checked") ? true : false;
        var isadmin = $(".isadmin").is(":checked") ? true : false;
        var checkin = $("#checkin").val();
        var add1 = $("#Address1").val();
        var post = $("#PostCode").val();
        var add2 = $("#Address2").val();
        var state = $("#state option:selected").val();
        var city = $("#city option:selected").val();
        var country = $("#country option:selected").val();
        var gmobile = $("#GuradianMobile").val();
        if (course == 0) {
            alert("Please select course name.")
            return false;
        } else if (budget == 0 || budget == "") {
            alert("please enter your room budget");
            return false;
        } else if (checkin == "") {
            alert("please select your checkin date.");
            return false;
        }
        else if (add1 == "") {
            alert("Please enter address1. Its required.");
            return false
        }
        else if (gmobile == "" || gmobile.length < 10) {
            alert("please enter valid guardian mobile number");
            return false;
        }
        else if (post == "") {
            alert("Please enter PostCode.");
            return false
        }
        var data = {
            "userId": userid, "courseId": course, "budget": budget, "checkin": checkin, "AddressId": addressid,
            "address1": add1, "address2": add2, "guardianmobile": gmobile, "city": city, "state": state, "country": country, "postcode": post
        }
        $('.loader').show();
        $.ajax({
            type: "Post",
            url: "/User/SaveHostelRequest",
            type: "Post",
            cache: false,
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.Success) {
                    alert(result.Message);
                    window.location.href = '@Url.Action("Index","User")';
                }
                else
                    alert(result.Message);
            },
            error: function (result) {
                $('.loader').hide();
                alert(result);
            }
        });
    });
</script>