@using HotelManagment.Models.User;
@model HotelManagment.Models.User.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserModel session = (UserModel)Session["CurrentUser"];
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $(".datepicker").datepicker();
    });
</script>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body p-0">
            <p class="card-title">User Details</p>
            <!-- CARD HEADER START -->
            <div class="card_head">
                <form id="form" class="form-sample">
                    <p class="card-description">
                        Personal info
                    </p>
                    <input type="hidden" id="sessionid" value="@session.UserId"/>
                    @Html.HiddenFor(x => x.UserId)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">First Name</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control">*@
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @maxlength = "20" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control">*@
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" ,@maxlength = "20" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="gender" name="Gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date of Birth</label>
                                <div class="col-sm-9">
                                    @*<input class="form-control" id="datepicker" placeholder="dd/mm/yyyy">*@
                                    @Html.TextBoxFor(x => x.Dob, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mobile</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control number", @maxlength = "12" })
                                </div>
                            </div>
                        </div>
                        @{ if (session.IsAdmin)
                            {

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @*<label class="col-sm-3 col-form-label">IsAdmin</label>*@
                                        <div class="col-sm-4">
                                            <div class="form-check form-check-primary">
                                                <label class="form-check-label">
                                                    Is Active
                                                    @{
                                                        if (Model.IsActive)
                                                        {
                                                            <input type="checkbox" name="IsActive" class="isactive form-check-input" checked="">
                                                            <i class="input-helper" name="IsActive"></i>
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="IsActive" class="isactive form-check-input">
                                                            <i class="input-helper" name="IsActive"></i>
                                                        }

                                                    }

                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check form-check-primary">
                                                <label class="form-check-label">
                                                    Is Admin
                                                    @{
                                                        if (Model.IsAdmin)
                                                        {
                                                            <input type="checkbox" name="IsAdmin" class="isadmin form-check-input" checked="">
                                                            <i class="input-helper" name="IsAdmin"></i>
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="IsAdmin" class="isadmin form-check-input">
                                                            <i class="input-helper" name="IsAdmin"></i>
                                                        }

                                                    }

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        } }
                       
                    </div>
                    <p class="card-description">
                        Address
                    </p>
                    <div class="row">
                        @Html.HiddenFor(x=>x.AddressId)
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address 1</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control">*@
                                    @Html.TextAreaFor(x => x.Address1, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Postcode</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control number", @maxlength = "10" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address 2</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(x => x.Address2, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <select id="state" class="form-control" name="state">
                                        @foreach (var states in Model.State)
                                        {
                                            if (states.Id == Model.StateId)
                                            {
                                                <option value="@states.Id" selected="selected">@states.State1</option>
                                            }
                                            else
                                            {
                                                <option value="@states.Id">@states.State1</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="city" name="city">
                                        @foreach (var city in Model.Cities)
                                        {
                                            if (city.Id == Model.CityId)
                                            {
                                                <option value="@city.Id" selected="selected">@city.City1</option>
                                            }
                                            else
                                            {
                                                <option value="@city.Id">@city.City1</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="country" id="country">
                                        @foreach (var cntry in Model.Countries)
                                        {
                                            if (cntry.Id == Model.CountryId)
                                            {
                                                <option value="@cntry.Id" selected="selected">@cntry.Country1</option>
                                            }
                                            else
                                            {
                                                <option value="@cntry.Id">@cntry.Country1</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" id="save-btn" class="btn btn-primary mr-2">Update Profile</button>
                        <button class="btn btn-light cancel">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /CARD HEADER END -->
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //called when key is pressed in textbox
        $(".number").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });

    $(window).on('load', function () {
        if ($("#UserId").val() != $("#sessionid").val()) {
            $("#FirstName").attr("disabled", "disabled");
            $("#LastName").attr("disabled", "disabled");
            $("#gender").attr("disabled", "disabled");
            $("#Dob").attr("disabled", "disabled");
            $("#Mobile").attr("disabled", "disabled");
            $("#Address1").attr("disabled", "disabled");
            $("#PostCode").attr("disabled", "disabled");
            $("#Address2").attr("disabled", "disabled");
            $("#state").attr("disabled", "disabled");
            $("#city").attr("disabled", "disabled");
            $("#country").attr("disabled", "disabled");
            $(".isactive").attr("disabled", "disabled");
            $(".isadmin").attr("disabled", "disabled");
            $("#save-btn").hide();
        }
    });

    $("#save-btn").click(function () {
        var userid = $("#UserId").val();
        var addressid = $("#AddressId").val();
        var first = $("#FirstName").val();
        var last = $("#LastName").val();
        var gender = $("#gender").val();
        var Dob = $("#Dob").val();
        var Mobile = $("#Mobile").val();
        var isactive = $(".isactive").is(":checked") ? true : false;
        var isadmin = $(".isadmin").is(":checked") ? true : false;
        var add1 = $("#Address1").val();
        var post = $("#PostCode").val();
        var add2 = $("#Address2").val();
        var state = $("#state option:selected").val();
        var city = $("#city option:selected").val();
        var country = $("#country option:selected").val();
        if (first == "" || last == "") {
            alert("Please enter first and last name");
            return false
        }
        else if (Dob == "" || Dob == "01/01/0001") {
            $("#Dob").val("");
            alert("Please select date of birth");
            return false
        }
        else if (Mobile == "" || Mobile.length<10) {
            alert("Please enter the valid mobile number");
            return false
        }
        else if (add1 == "") {
            alert("Please enter address1. Its required.");
            return false
        }
        else if (post == "") {
            alert("Please enter PostCode.");
            return false
        }
        $('.loader').show();
        var data = {"UserId":userid,"AddressId":addressid,
            "FirstName": first, "LastName": last, "Gender": gender, "Dob": Dob, "Mobile": Mobile, "IsActive": isactive, "IsAdmin": isadmin, "Address1": add1,
            "Address2": add2, "StateId": state, "CityId": city, "CountryId": country, "PostCode": post
        }
        $.ajax({
            type: "Post",
            url: "/User/UpdateProfile",
            type: "Post",
            cache: false,
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.Success) {
                    alert(result.Message);
                }
                else
                    alert(result.Message);
            },
            error: function (result) {
                $('.loader').hide();
                alert(result.Message);
            }
        });
    });
</script>